/autom4te.cache
/mingw32-config.cache
/configure
/configure~
/config.log
/config.status
/confdefs.h
/configure.lineno
/config.status.lineno
/config.guess
/config.sub
/depcomp
/compile
/install-sh
/missing
/aclocal.m4
/libtool
/ltmain.sh
/sox_ng-*.tar.gz
/libsox_ng.txt
/soxformat_ng.txt
/soxi_ng.txt
/sox_ng.txt
/sox_ng.pc
/README
/Docs.Features
/CMakeCache.txt
CMakeFiles
cmake_install.cmake
/wiki
/*.pdf
/*.html
Makefile
Makefile.in
.deps
*.a
*.o
*.lo
*.la
.libs
tags
TAGS
